<html>
<title>
DEVELOP

</title>

<style>

</style>

<body>

DEVELOP









    <footer>
<div>
    <p>copyright &copy;<script>document.write(new date().getfullyear());</script>vimba telecom store.</p>
</div>
</footer>
</body>
</html># Auto detect text files and perform LF normalization
* text=auto
